.header {
    padding-top: 12px ;
    position: absolute;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--box {
            display: flex;
            align-items: center;
            gap: 60px;
        }
    }

    &__icon-list {
        display: flex;
        gap: 18px;
    }

    &__contacts-list {
        display: flex;
        gap: 35px;
    }
}