.targets-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;

    &__text-box {
        width: 50%;
        display: flex;
        flex-direction: column;
        background-color: $base-color;
        color: $base-second-color;
        border-radius: 30px;
        padding: 56px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        font-size: $h2-fz;
        margin-bottom: 30px;
        line-height: $special-lh;
    }

    &__list {
        display: flex;
    }

    &__img-box {
        width: 50%;
        display: grid;
    }
}