body {
  font-family: "Raleway", sans-serif;
  font-size: $base-fz;
  line-height: $base-lh;
}

.wrapper {
	min-height: 100vh;
	min-width: 375px;
  	position: relative;
}

.container {
	max-width: 1605px;
	margin: 0 auto;
	padding: 0 82.5px;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.btn {
	width: 345px;
	height: 58px;
	border-radius: 100px;
	font-size: $button-fz;
	display: flex;
    justify-content: center;
    align-items: center;
}

.base-btn {
	background-color: $base-color;
	color: $base-second-color;
}

.additional-btn {
	background-color: $additional-color;
}

.transparent-btn {
	background-color: transparent;
	border: 1px solid $additional-third-color;
}

.accent {
	color: $base-color;
}