body {
  font-family: "Raleway", sans-serif;
  font-size: $base-fz;
  line-height: $base-lh;
}

.wrapper {
	min-height: 100vh;
	min-width: 375px;
  	position: relative;
}


.container {
	max-width: 1605px;
	margin: 0 auto;
	padding: 0 82.5px;
}

.bg {
	background: url(../../src/image/Background.jpg) center / cover no-repeat;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.btn {
	width: 350px;
	height: 58px;
	border-radius: 100px;
	align-content: center;
	font-size: $button-fz;
}

.base-btn {
	background-color: $base-color;
	color: $base-second-color;
}

.additional-btn {
	background-color: $additional-color;
}

.accent {
	color: $base-color;
}