// base colors //
$base-color: #1A7DF0;
$base-second-color: #FFFFFF;
//additional  colors //
$additional-color: #FFE711;
$additional-second-color: #005BC5;
$additional-third-color: #333333;

// fonts //
$base-fz: 20px;
$second-fz: 18px;
$h1-fz: 65px;
$h2-fz: 42px;
$h3-fz: 30px;
$special-fz: 32px;
$small-text: 12px;
$button-fz: 24px;
$link-fz: 12px;
$base-lh: 1.5;
$title-lh: 1.3;
$special-lh: 100%;
$base-ff: "Raleway", sans-sarif;